body {
    max-width: 1024px;
    background-color: #333333;
    color: #cccccc;
    padding: 15px;
    display: flex !important;
    flex-direction: column;
}

a {
    color: cyan;
}

.blockhead {
    background-color: #1b1a1a;
    color: #ffffff;
    width: 620px;
    height: 120px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 10px;
}

#blocksection {
    max-width: 1024px;
}

.block {
    max-width: 500px;
    background-color: #1b1a1a;
    display: flex;
    justify-content: left;
    flex-direction: column;
    padding: 10px;
}

.card-title {
    display: flex;
    justify-content: center;
}

div.blockhead {
    align-self: center;
}

.bullets {

}  

#self-photo {
    height: 106 !important;
    width: 80 !important;
    padding: 5px;
}

#blockhead-name {
    color: #5e67e4;
    font-size: 20;
    font-weight: bold;
}

#blockhead-content {
    color: #5e67e4;
    align-content: flex-end;
}

#blockhead-certs {
    display: flex;
    justify-content: space-evenly;
}

#seclogo {
    padding: 5px;
}

#casplogo {
    padding: 5px;
}

span.dateformat {
    font-size: medium;
    font-weight: bold;
}

span.jobtitle-location {
    font-size: medium;
    font-style: italic;
}

@media screen and (max-width: 800px) {

}

/*
.name - This is an example of a class name
#name - This is an example of an ID name
*/